# Logs
logs
*.log

# Environment variables
.env

# Config files

# Folder for notes not for sharing
private

# Old versions
_OLD
_OLD/*

# OS Files
.DS_Store
.DS_Store?
**/.DS_Store
.vscode/*
.pio
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db